%h1 Button Groups

%h2 Pre-configured, design system buttons

%hr

%h2 Manually Created Button Groups

%h3 Patterns

%h4 Button Group Themes
= ui.nfg :button_group, class: 'example-class' do
  = ui.nfg :button, :primary, as: :button, body: 'Button'
  = ui.nfg :button, :primary, as: :button do
    Button
  = ui.nfg :button, :primary, as: :button do
    Button

%br

= ui.nfg :button_group, class: 'example-class' do
  = ui.nfg :button, :secondary, as: :button, body: 'Button'
  = ui.nfg :button, :secondary, as: :button do
    Button
  = ui.nfg :button, :secondary, as: :button do
    Button

%br

= ui.nfg :button_group, class: 'example-class' do
  = ui.nfg :button,:success, as: :button, body: 'Button'
  = ui.nfg :button,:success, as: :button do
    Button
  = ui.nfg :button,:success, as: :button do
    Button

%br

= ui.nfg :button_group, class: 'example-class' do
  = ui.nfg :button, :danger, as: :button, body: 'Button'
  = ui.nfg :button, :danger, as: :button do
    Button
  = ui.nfg :button, :danger, as: :button do
    Button

%br

= ui.nfg :button_group, class: 'example-class' do
  = ui.nfg :button, :warning, as: :button, body: 'Button'
  = ui.nfg :button, :warning, as: :button do
    Button
  = ui.nfg :button, :warning, as: :button do
    Button

%br

= ui.nfg :button_group, class: 'example-class' do
  = ui.nfg :button, :info, as: :button, body: 'Button'
  = ui.nfg :button, :info, as: :button do
    Button
  = ui.nfg :button, :info, as: :button do
    Button

%br

= ui.nfg :button_group, class: 'example-class' do
  = ui.nfg :button, :light, as: :button, body: 'Button'
  = ui.nfg :button, :light, as: :button do
    Button
  = ui.nfg :button, :light, as: :button do
    Button

%br

= ui.nfg :button_group, class: 'example-class' do
  = ui.nfg :button, :dark, as: :button, body: 'Button'
  = ui.nfg :button, :dark, as: :button do
    Button
  = ui.nfg :button, :dark, as: :button do
    Button


%hr

%h4 Button Groups with links
= ui.nfg :button_group, class: 'example-class' do
  / = ui.nfg :button, href: '#testURL', body: 'Link Btn W/O :as'
  = ui.nfg :button, :link, :active, href: '#testURL' do
    Active Button
  = ui.nfg :button, :link do
    Link Button without HREF

%hr

%h4 Button groups with buttons
= ui.nfg :button_group, role: 'not a good one' do
  = ui.nfg :button, as: :button, body: 'Button'
  = ui.nfg :button, as: :button do
    Button
  = ui.nfg :button, as: :button do
    Button

%hr

%h3 Sizing

= ui.nfg :button_group, :lg, aria: { 'test' => 'test2' } do
  = ui.nfg :button, as: :button, body: 'Left'
  = ui.nfg :button, as: :button do
    Middle
  = ui.nfg :button, as: :button do
    Right

= ui.nfg :button_group, aria: { 'test' => 'test2' } do
  = ui.nfg :button, as: :button, body: 'Left'
  = ui.nfg :button, as: :button do
    Middle
  = ui.nfg :button, as: :button do
    Right

= ui.nfg :button_group, :sm, aria: { 'test' => 'test2' } do
  = ui.nfg :button, as: :button, body: 'Left'
  = ui.nfg :button, as: :button do
    Middle
  = ui.nfg :button, as: :button do
    Right

%hr

%h4 Nesting Button Groups

%h5 Nesting Sizes
= ui.nfg :button_group, :lg, aria: { 'test' => 'test2' } do
  = ui.nfg :button, as: :button, body: 'Large Left'
  = ui.nfg :button, as: :button do
    Large Middle
  = ui.nfg :button, as: :button do
    Large Right

  = ui.nfg :button_group, size: :sm, aria: { 'test' => 'test2' } do
    = ui.nfg :button, as: :button, body: 'Small Left'
    = ui.nfg :button, as: :button do
      Small Middle
    = ui.nfg :button, as: :button do
      Small Right

  = ui.nfg :button_group, aria: { 'test' => 'test2' } do
    = ui.nfg :button, as: :button, body: 'Small Left'
    = ui.nfg :button, as: :button do
      Small Middle

%hr

%h3 Vertical variation
%h4 Button groups with buttons
%p
  In order to make button group full width, you must add
  %code class: 'w-100'

%p
  In order to center-align the buttons within the full width button group, add:
  %code class: 'align-items-center'

= ui.nfg :button_group, :vertical, aria: { 'test' => 'test2' }, class: 'align-items-center w-100' do
  = ui.nfg :button, :lg, as: :button, body: 'Button'
  = ui.nfg :button, :outlined, :secondary, as: :button, class: 'mt-3' do
    Button goes here woohoo
  = ui.nfg :button, as: :button, class: 'mt-3' do
    Button
