%h1 Buttons

%h2 Default button
= ui.nfg :button, text: 'Default Button'

%h2 Manually Created Buttons

%h3 Elements
= ui.nfg :button, href: '#testURL', body: 'Link Btn W/O :as'
= ui.nfg :button, as: :link, href: '#testURL' do
  Link Button with HREF
= ui.nfg :button, as: :link do
  Link Button without HREF
= ui.nfg :button, as: :button, body: 'Button'

%h3 Buttons with icons
= ui.nfg :button, icon: 'rocket', body: 'Button with icon'

%hr

%h3 Themes
%h4 Themes with manual :theme options
-# Block example
= ui.nfg :button, class: 'example-class' do
  Default Button (Link w/o href)

= ui.nfg :button, as: :button, body: 'Primary', theme: :primary, class: 'example-class'

= ui.nfg :button, as: :button, body: 'Secondary', theme: :secondary, class: 'example-class' 

= ui.nfg :button, as: :button, body: 'Success', theme: :success, class: 'example-class' 

= ui.nfg :button, as: :button, body: 'Danger', theme: :danger, class: 'example-class' 

= ui.nfg :button, as: :button, body: 'Warning', theme: :warning, class: 'example-class' 

= ui.nfg :button, as: :button, body: 'Info', theme: :info, class: 'example-class' 

= ui.nfg :button, as: :button, body: 'Light', theme: :light, class: 'example-class' 
= ui.nfg :button, as: :button, body: 'Dark', theme: :dark, class: 'example-class' 

%hr

%h4 Themes with :theme trait
%p
  = ui.nfg :button, :primary, body: 'Primary trait'
  = ui.nfg :button, :secondary, body: 'Secondary trait'
  = ui.nfg :button, :success, body: 'Success trait'
  = ui.nfg :button, :danger, body: 'Danger trait'
  = ui.nfg :button, :warning, body: 'Warning trait'
  = ui.nfg :button, :info, body: 'Info trait'
  = ui.nfg :button, :light, body: 'Light trait'
  = ui.nfg :button, :dark, body: 'Dark trait'
%p
  = ui.nfg :button, :primary, :outlined, body: 'Primary trait'
  = ui.nfg :button, :secondary, :outlined, body: 'Secondary trait'
  = ui.nfg :button, :success, :outlined, body: 'Success trait'
  = ui.nfg :button, :danger, :outlined, body: 'Danger trait'
  = ui.nfg :button, :warning, :outlined, body: 'Warning trait'
  = ui.nfg :button, :info, :outlined, body: 'Info trait'
  = ui.nfg :button, :light, :outlined, body: 'Light trait'
  = ui.nfg :button, :dark, :outlined, body: 'Dark trait'

%hr

%h3 Sizes
= ui.nfg :button, as: :button, size: :lg, class: 'example-class', body: 'Large'
= ui.nfg :button, as: :button, class: 'example-class', body: 'Default Size'
= ui.nfg :button, as: :button, size: :sm, class: 'example-class', body: 'Small'

%hr
%h3 Outlines
= ui.nfg :button, :outlined, class: 'example-class' do
  Default Outline Button (Link w/o href)

= ui.nfg :button, :outlined, as: :button, body: 'Primary Outlined', theme: :primary, class: 'example-class'

= ui.nfg :button, :outlined, as: :button, body: 'Secondary Outlined', theme: :secondary, class: 'example-class' 

= ui.nfg :button, :outlined, as: :button, body: 'Success Outlined', theme: :success, class: 'example-class' 

= ui.nfg :button, :outlined, as: :button, body: 'Danger Outlined', theme: :danger, class: 'example-class' 

= ui.nfg :button, :outlined, as: :button, body: 'Warning Outlined', theme: :warning, class: 'example-class' 

= ui.nfg :button, :outlined, as: :button, body: 'Info Outlined', theme: :info, class: 'example-class' 

= ui.nfg :button, :outlined, as: :button, body: 'Light Outlined', theme: :light, class: 'example-class' 
= ui.nfg :button, :outlined, as: :button, body: 'Dark Outlined', theme: :dark, class: 'example-class' 

%hr
%h3 Block Buttons without traits
= ui.nfg :button, block: true, as: :button, body: 'Block Button'
= ui.nfg :button, block: true, body: 'Block Button As Link', href: '#nogo'

%h3 Block Buttons with traits
= ui.nfg :button, :block, as: :button, body: 'Block Button'
= ui.nfg :button, :block, body: 'Block Button As Link', href: '#nogo'

%hr

%h3 Activated Buttons
= ui.nfg :button, body: 'Active Button as Link', href: '#nogo', active: true
= ui.nfg :button, as: :button, body: 'Active Button', active: true
= ui.nfg :button, :block, :outlined, as: :button, body: 'Active Outlined Button', active: true

%hr

%h3 Disabled Buttons
= ui.nfg :button, body: 'Disabled Button as Link', href: '#nogo', disabled: true
= ui.nfg :button, as: :button, body: 'Disabled Button', disabled: true

%hr

%h3 Button with tooltip
= ui.nfg :button, as: :button, body: "Tooltip'd Button", tooltip: 'Button with a tooltip'

= ui.nfg :button, as: :button, disabled: true, body: "Disabled Tooltip'd Button", tooltip: 'Disabled button with a tooltip'
