%h1 Buttons

%h2 Default button
%p= ui.nfg :button, body: 'No Frills Button'
%p
  = ui.nfg :button, :submit, :danger, body: 'Delete', icon: 'trash'
  == ui.nfg :button, :submit, :danger, body: 'Delete', icon: 'trash'

%h2 Render_if / Render_unless as exemplified through buttons
= ui.nfg :button, body: 'I should not show (render_if: false)', render_if: (1!=1)
= ui.nfg :button, body: 'I should show (render_if: true)', render_if: (1==1)

= ui.nfg :button, body: 'I should not show because my render unless returned true', render_unless: (1==1)

= ui.nfg :button, body: 'I should show because my unless returned false', render_unless: (1!=1)

%hr

%h2 Data describe as exemplified through buttons
= ui.nfg :button, body: 'Data Described', describe: 'test-data-describe'

%hr

%h2 Manually Created Buttons

%h3 Elements
%p
  = ui.nfg :button, href: '#testURL', body: 'Link Btn W/O :as'
  == ui.nfg :button, href: '#testURL', body: 'Link Btn W/O :as'

%p

  = ui.nfg :button, as: :a, href: '#testURL' do
    Link Button with HREF

%br
= ui.nfg :button, as: :a do
  Link Button without HREF
= ui.nfg :button, as: :button, body: 'Button'

%hr

%h3 Buttons for Remote forms
= ui.nfg :button, :submit, remote: true, describe: 'test remote', tooltip: 'Heavy button!', body: 'Remote button without trait'
= ui.nfg :button, :submit, :disabled, remote: true, describe: 'test remote', tooltip: 'Heavy button!', body: 'Insanity in a button' 
= ui.nfg :button, :submit, :remote, body: 'Remote button with trait'

%hr

%h3 Buttons with icons
%h4 Icons on the right (default)
= ui.nfg :button, icon: 'rocket', body: 'Button with icon'
= ui.nfg :button, :disabled, icon: 'rocket', body: 'Button with icon disabled'
= ui.nfg :button, :disabled, icon: 'rocket', body: 'Button with icon disabled - tooltip', tooltip: 'Disabled button tooltip'
%hr

%h4 Icons on the left
= ui.nfg :button, left_icon: 'rocket', body: 'Button with left icon (option)'
= ui.nfg :button, left_icon: 'rocket' do 
  Button with left icon (block)
= ui.nfg :button, :disabled, left_icon: 'rocket', body: 'Button with left icon disabled'
= ui.nfg :button, :disabled, left_icon: 'rocket', body: 'Button with left icon disabled - tooltip', tooltip: 'Disabled button tooltip'
%hr

%h4 Icons on both sides
= ui.nfg :button, left_icon: 'plus', icon: 'rocket', body: 'Button with 2 Icons (option)'
= ui.nfg :button, left_icon: 'plus', icon: 'rocket' do
  Button with 2 Icons (block)
= ui.nfg :button, :disabled, left_icon: 'plus', icon: 'rocket', body: 'Button with 2 Icons Disabled'
= ui.nfg :button, :disabled, left_icon: 'plus', icon: 'rocket', body: 'Button with 2 Icons Disabled - tooltip', tooltip: 'Disabled button tooltip'
 
%hr

%h4 Button with no body, but with icon
= ui.nfg :button, icon: 'check'
= ui.nfg :button, :disabled, icon: 'close'
= ui.nfg :button, :disabled, icon: 'info-circle', tooltip: 'Disabled button tooltip'

%hr


%h3 Themes
%h4 Themes with manual :theme options
-# Block example
= ui.nfg :button, class: 'example-class' do
  Default Button (Link w/o href)

= ui.nfg :button, as: :button, body: 'Primary', theme: :primary, class: 'example-class'

= ui.nfg :button, as: :button, body: 'Secondary', theme: :secondary, class: 'example-class' 

= ui.nfg :button, as: :button, body: 'Success', theme: :success, class: 'example-class' 

= ui.nfg :button, as: :button, body: 'Danger', theme: :danger, class: 'example-class' 

= ui.nfg :button, as: :button, body: 'Warning', theme: :warning, class: 'example-class' 

= ui.nfg :button, as: :button, body: 'Info', theme: :info, class: 'example-class' 

= ui.nfg :button, as: :button, body: 'Light', theme: :light, class: 'example-class' 
= ui.nfg :button, as: :button, body: 'Dark', theme: :dark, class: 'example-class' 
= ui.nfg :button, as: :button, body: 'Link', theme: :link, class: 'example-class' 

%hr

%h4 Themes with :theme trait
%p
  = ui.nfg :button, :primary, body: 'Primary trait'
  = ui.nfg :button, :secondary, body: 'Secondary trait'
  = ui.nfg :button, :success, body: 'Success trait'
  = ui.nfg :button, :danger, body: 'Danger trait'
  = ui.nfg :button, :warning, body: 'Warning trait'
  = ui.nfg :button, :info, body: 'Info trait'
  = ui.nfg :button, :light, body: 'Light trait'
  = ui.nfg :button, :dark, body: 'Dark trait'
  = ui.nfg :button, :link, body: 'Link trait'
%p
  = ui.nfg :button, :primary, :outlined, body: 'Primary trait'
  = ui.nfg :button, :secondary, :outlined, body: 'Secondary trait'
  = ui.nfg :button, :success, :outlined, body: 'Success trait'
  = ui.nfg :button, :danger, :outlined, body: 'Danger trait'
  = ui.nfg :button, :warning, :outlined, body: 'Warning trait'
  = ui.nfg :button, :info, :outlined, body: 'Info trait'
  = ui.nfg :button, :light, :outlined, body: 'Light trait'
  = ui.nfg :button, :dark, :outlined, body: 'Dark trait'

%hr

%h3 Sizes
= ui.nfg :button, as: :button, size: :lg, class: 'example-class', body: 'Large'
= ui.nfg :button, :lg, as: :button, class: 'example-class', body: 'Large Trait'

= ui.nfg :button, as: :button, class: 'example-class', body: 'Default Size'
= ui.nfg :button, as: :button, size: :sm, class: 'example-class', body: 'Small'
= ui.nfg :button, :sm, as: :button, class: 'example-class', body: 'Small Trait'

%hr
%h3 Outlines
= ui.nfg :button, :outlined, class: 'example-class' do
  Default Outline Button (Link w/o href)

= ui.nfg :button, :outlined, as: :button, body: 'Primary Outlined', theme: :primary, class: 'example-class'

= ui.nfg :button, :outlined, as: :button, body: 'Secondary Outlined', theme: :secondary, class: 'example-class' 

= ui.nfg :button, :outlined, as: :button, body: 'Success Outlined', theme: :success, class: 'example-class' 

= ui.nfg :button, :outlined, as: :button, body: 'Danger Outlined', theme: :danger, class: 'example-class' 

= ui.nfg :button, :outlined, as: :button, body: 'Warning Outlined', theme: :warning, class: 'example-class' 

= ui.nfg :button, :outlined, as: :button, body: 'Info Outlined', theme: :info, class: 'example-class' 

= ui.nfg :button, :outlined, as: :button, body: 'Light Outlined', theme: :light, class: 'example-class' 
= ui.nfg :button, :outlined, as: :button, body: 'Dark Outlined', theme: :dark, class: 'example-class' 

%hr

%h3 Buttons with disable_with (for submitting)
= ui.nfg :button, :submit, disable_with: 'Manual disable with text', body: 'Manual disable_with'
= ui.nfg :button, :submit, :disable_with, body: 'Trait disable_with with default'
= ui.nfg :button, :submit, :disable_with, :submit, body: 'Traited Disable With & Submit'
%hr

%h3 Block Buttons without traits
= ui.nfg :button, block: true, as: :button, body: 'Block Button'
= ui.nfg :button, block: true, body: 'Block Button As Link', href: '#nogo'

%hr

%h3 Block Buttons with traits
= ui.nfg :button, :block, as: :button, body: 'Block Button'
= ui.nfg :button, :block, body: 'Block Button As Link', href: '#nogo'
%hr

%h4 Submit button
= ui.nfg :button, :submit, body: 'Submit Button Via Trait'

= ui.nfg :button, as: :button, body: 'Submit Button via Type', type: 'submit'
%hr

%h3 Activated Buttons
= ui.nfg :button, body: 'Active Button as Link', href: '#nogo', active: true
= ui.nfg :button, as: :button, body: 'Active Button', active: true
= ui.nfg :button, :block, :outlined, as: :button, body: 'Active Outlined Button', active: true

%hr

%h3 Disabled Buttons
= ui.nfg :button, body: 'Disabled Button as Link', href: '#nogo', disabled: true
= ui.nfg :button, as: :button, body: 'Disabled Button, as: button not trait', disabled: true
= ui.nfg :button, :disabled, as: :button, body: 'Disabled Button, as: button - Traited'
= ui.nfg :button, :disabled, body: 'Disabled Button - Trait, no as'

%hr

%h3 Button with tooltip
= ui.nfg :button, as: :button, body: "Tooltip'd Button", tooltip: 'Button with a tooltip'

= ui.nfg :button, :disabled, body: "Disabled Tooltip'd Link Button", tooltip: 'Disabled button with a tooltip'

= ui.nfg :button, :disabled, as: :button, body: "Disabled Tooltip'd %Button", tooltip: 'Disabled button with a tooltip'

%hr

%h3 Close button
= ui.nfg :button, :close, dismiss: 'modal'


%hr
%h3 Additional rails-y buttons
%p 
  method: :delete
  %br
  = ui.nfg :button, method: :delete, body: 'Method: :Delete button', describe: 'a description'
  %br
  = ui.nfg :button, method: :delete, body: 'Method: :Delete button with data', describe: 'a description', data: { something: 'else' }
%p
  confirm: 'Are you sure you want to delete?'
  %br
  = ui.nfg :button, method: :delete, body: 'Method: :Delete button', describe: 'a description', confirm: 'Are you sure you?'
