%h1 Navs

%h2 Standard, default nav
%p
  Note: to generate a nav item that utilizes the :nav_link component, simply pass an :href option into the :nav_item. This will automatically generate the .nav-item > .nav-link syntax and supply the href to the nav_link for you.
%p
  %b Example:
  ui.nfg :nav_item, body: 'Nav Item #1', href: '#'

%p :nav_link component is available and is usable if you need to build a more complex or complicated nav item. See examples below

= ui.nfg :nav, class: 'bg-light p-3' do
  = ui.nfg :nav_item, :active, body: 'Nav Item #1', href: '#', icon: 'home'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#', icon: 'rocket'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#', icon: 'rocket'
  = ui.nfg :nav_item, body: 'Nav Item #4', href: '#', icon: 'heart'

%hr

%h3 Nav with :nav_items and manually added :nav_links
= ui.nfg :nav, class: 'bg-light p-3' do
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, :active, body: 'Nav Link #1 - with :method and :remote', href: '#', icon: 'home', method: :delete, remote: true
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, body: 'Nav Link #2', href: '#', icon: 'rocket', method: :patch
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, body: 'Nav Link #3', href: '#', icon: 'heart', method: :example
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, :disabled, body: 'Nav Link #4 (disabled)', href: '#', icon: 'usd'


%hr

%h3 Nav with :nav_items and manually added :nav_links that call modals.

= ui.nfg :nav, class: 'bg-light p-3' do
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, :active, body: 'Nav Modal Link #1', href: '#', icon: 'home', modal: '#test_modal1'
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, body: 'Nav Modal Link #2', href: '#', icon: 'rocket', modal: '#test_modal2'
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, body: 'Nav Modal Link #3', href: '#', icon: 'heart', modal: '#test_modal3'

= ui.nfg :modal, id: 'test_modal1', title: 'Test Modal #1', body: 'This is test modal #1'

= ui.nfg :modal, id: 'test_modal2', title: 'Test Modal #2', body: 'This is test modal #2'

= ui.nfg :modal, id: 'test_modal3', title: 'Test Modal #3', body: 'This is test modal #3'

%hr

%h3 Nav with :nav_items and manually added :nav_links including collapsed sibling content for nav_links.

= ui.nfg :nav, class: 'bg-light p-3' do
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, :active, body: 'Nav Collapse Link #1', href: '#', icon: 'home', collapse: '#test_collapse1'
    = ui.nfg :collapse, :collapsed, id: 'test_collapse1', body: 'Collapsed Content #1'
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, body: 'Nav Collapse Link #2', href: '#', icon: 'rocket', collapse: '#test_collapse2'
    = ui.nfg :collapse, :collapsed, id: 'test_collapse2', body: 'Collapsed Content #2'
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, body: 'Nav Collapse Link #3', href: '#', icon: 'heart', collapse: '#test_collapse3'
    = ui.nfg :collapse, :collapsed, id: 'test_collapse3', body: 'Collapsed Content #3'
  = ui.nfg :nav_item do
    = ui.nfg :nav_link, :disabled, body: 'Nav Collapse Link #4 (disabled)', href: '#', icon: 'usd', collapse: '#test_collapse_broken'
    = ui.nfg :collapse, :collapsed, id: 'test_collapse_broken', body: "Collapsed Content SHOULD NEVER SHOW ON DISABLED COMPONENT IF YOU SEE ME I'M BROKEN"




%hr

%h2 <nav> element based Nav
%p Docs show that when using nav element, utilize :nav_link (a tag) component

%h3 Standard nav using as: :nav (thus, nav element)
= ui.nfg :nav, as: :nav, class: 'bg-light p-3' do
  = ui.nfg :nav_link, body: 'Nav Link #1', href: '#'
  = ui.nfg :nav_link, body: 'Nav Link #2', href: '#'
  = ui.nfg :nav_link, body: 'Nav Link #3', href: '#'
  = ui.nfg :nav_link, body: 'Nav Link #4', href: '#'

%hr

%h3 Complex nav using as: :nav
%p Per documentation on nav-fill / justified, etc, add 'nav-item' class to nav_link:

= ui.nfg :nav, :fill, :pill, as: :nav, class: 'bg-light p-3' do
  = ui.nfg :nav_link, :active, body: 'Nav Link #1 - Active', href: '#', class: 'nav-item'
  = ui.nfg :nav_link, body: 'Nav Link #2', href: '#', class: 'nav-item'
  = ui.nfg :nav_link, body: 'Nav Link #3', href: '#', class: 'nav-item'
  = ui.nfg :nav_link, body: 'Nav Link #4', href: '#', class: 'nav-item'





%hr

%h2 Horizontal positioning of nav

%h3.h4 Right
= ui.nfg :nav, :right, class: 'bg-light p-3' do
  = ui.nfg :nav_item, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #4' , href: '#'

%h3.h4 Center
= ui.nfg :nav, :center, class: 'bg-light p-3' do
  = ui.nfg :nav_item, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #4', href: '#'

%hr

%h2 Vertical

= ui.nfg :nav, :vertical, class: 'bg-light p-3' do
  = ui.nfg :nav_item, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #4', href: '#'

%hr

%h2 Tabs

= ui.nfg :nav, :tabs, class: 'bg-light px-3 pt-3' do
  = ui.nfg :nav_item, :active, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #4', href: '#'

%h2 Pills

= ui.nfg :nav, :pill, class: 'bg-light p-3' do
  = ui.nfg :nav_item, :active, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #4', href: '#'

%hr

%h2 Fill

= ui.nfg :nav, :fill, class: 'bg-light p-3' do
  = ui.nfg :nav_item, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #4', href: '#'

%hr

%h2 Justify

= ui.nfg :nav, :justify, class: 'bg-light p-3' do
  = ui.nfg :nav_item, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #4', href: '#'

= ui.nfg :nav, :justify, :pill, class: 'bg-light p-3' do
  = ui.nfg :nav_item, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #4', href: '#'

= ui.nfg :nav, :justify, :tabs, class: 'bg-light p-3' do
  = ui.nfg :nav_item, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #4', href: '#'

%hr

%h2 Nav Items / links: States

= ui.nfg :nav, :pill ,class: 'bg-light p-3' do
  = ui.nfg :nav_item, :active, body: 'Nav Item #1 - Active', href: '#', icon: 'check'
  = ui.nfg :nav_item, :disabled, body: 'Nav Item #2 - Disabled', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #4', href: '#'

%hr

%h2 Nav items with dropdowns
%p Note: to create an automatic dropdown toggle to power your dropdown, you need to pass in :button instead of :body
%p Example: = ui.nfg :nav_item, button: 'Nav Item #4 - Dropdown', dropdown: true do ...

%h3 Standard Nav with dropdown
= ui.nfg :nav, class: 'bg-light p-3' do
  = ui.nfg :nav_item, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, :dropdown, button: 'Nav Item #4 - Dropdown' do
    = ui.nfg :dropdown_menu do
      = ui.nfg :dropdown_item, :primary, body: 'Dropdown Item 1', href: '#', icon: 'pencil'
      = ui.nfg :dropdown_item, :secondary, body: 'Dropdown Item 2', href: '#', icon: 'trash'
      = ui.nfg :dropdown_item, :danger, body: 'Dropdown Item 3', href: '#', icon: 'ban'
      = ui.nfg :dropdown_item, :dark, body: 'Dropdown Item 4', href: '#', icon: 'envelope'

%hr

%h3 Pills with dropdowns
= ui.nfg :nav, :pill, class: 'bg-light p-3' do
  = ui.nfg :nav_item, :active, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, :dropdown, button: 'Nav Item #4 - Dropdown' do
    = ui.nfg :dropdown_menu do
      = ui.nfg :dropdown_item, :primary, body: 'Dropdown Item 1', href: '#'
      = ui.nfg :dropdown_item, :secondary, body: 'Dropdown Item 2', href: '#'
      = ui.nfg :dropdown_item, :danger, body: 'Dropdown Item 3', href: '#'
      = ui.nfg :dropdown_item, :warning, body: 'Dropdown Item 4', href: '#'

%hr

%h3 Tabs with dropdowns
= ui.nfg :nav, :tabs, class: 'bg-light px-3 pt-3' do
  = ui.nfg :nav_item, body: 'Nav Item #1', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #2', href: '#'
  = ui.nfg :nav_item, body: 'Nav Item #3', href: '#'
  = ui.nfg :nav_item, :dropdown, button: 'Nav Item #4 with Dropdown' do
    = ui.nfg :dropdown_menu do
      = ui.nfg :dropdown_item, body: 'Dropdown Item 1', href: '#dd1'
      = ui.nfg :dropdown_item, body: 'Dropdown Item 2', href: '#dd2'
      = ui.nfg :dropdown_item, body: 'Dropdown Item 3', href: '#dd3'
      = ui.nfg :dropdown_item, body: 'Dropdown Item 4', href: '#dd4'

