%div{ modal.html_options }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        - if modal.title
          = ui.nfg :typeface, title: modal.title, class: 'modal-title', id: "#{modal.id}_modal_title"
        = ui.nfg :button, :close
      .modal-body= modal.body
      
      - if modal.footer?
        .modal-footer= modal.footer
