%div{ slat_item.html_options }
  - if slat_item.slat_header
    %h6.display-4= slat_item.slat_header
  - if slat_item.heading
    - if slat_item.href
      = link_to slat_item.href do
        = ui.nfg :typeface, heading: slat_item.heading
    - else
      = ui.nfg :typeface, heading: slat_item.heading
  = slat_item.body
  - if slat_item.caption
    = ui.nfg :typeface, caption: slat_item.caption, class: 'mb-0'
