%div{ slat_actions.html_options }
  - if slat_actions.menu
    - if slat_actions.slat_header
      %h6.display-4 &nbsp;
    - else
      = ui.nfg :dropdown do
        = ui.nfg :dropdown_toggle, :outlined, :secondary, body: ('Actions' if slat_actions.wide)
        = ui.nfg :dropdown_menu, :right do
          = slat_actions.body
  - else
    - if slat_actions.href.present?
      = link_to slat_actions.href, class: slat_actions.theme do
        - if slat_actions.icon
          = ui.nfg :icon, slat_actions.icon, text: slat_actions.body, theme: slat_actions.theme
        - else
          = slat_actions.body
    
    - else
      - if slat_actions.icon
        = ui.nfg :icon, slat_actions.icon, text: slat_actions.body, theme: slat_actions.theme
      - else
        = slat_actions.body
