%h1 Typefaces

Title:
= ui.nfg :typeface, title: 'Title'
%br
With Icon:
= ui.nfg :typeface, title: 'Title with icon', icon: 'rocket'

Heading:
= ui.nfg :typeface, heading: 'Heading'
%br
With Icon:
= ui.nfg :typeface, heading: 'Title with icon', icon: 'rocket'

Body:
= ui.nfg :typeface, body: 'Body'

