%h1 Icons

%h2 Standard icon
= ui.nfg :icon, 'rocket'

%hr

%h2 Icon with text, right & left
= ui.nfg :icon, 'rocket', text: 'Icon on the left'
%br
= ui.nfg :icon, 'rocket', :right, text: 'Icon on the right with trait'
%br
= ui.nfg :icon, 'rocket', text: 'Icon on the right with option', right: true

%h2 Themes

%br
= ui.nfg :icon, 'rocket', :primary
%br
= ui.nfg :icon, 'rocket', :secondary
%br
= ui.nfg :icon, 'rocket', :success
%br
= ui.nfg :icon, 'rocket', :danger
%br
= ui.nfg :icon, 'rocket', :warning
%br
= ui.nfg :icon, 'rocket', :info
%br
= ui.nfg :icon, 'rocket', :light
%br
= ui.nfg :icon, 'rocket', :dark
