%h1 Icons

%h2 Standard icon
= ui.nfg :icon, 'rocket'

%hr

%h2 Icons with custom traits
%p
  The loader icon:
  %code :loader
  %br
  = ui.nfg :icon, :loader

%p
  The tip icon:
  %code :tip
  (remember you can supply a tooltip!)
  %br
  = ui.nfg :icon, :tip, tooltip: 'The tip!'
  %br
  The tip icon with text:
  %br
  = ui.nfg :icon, :tip, tooltip: 'The tip!', text: 'Test text options'

%h2 Icon with text, right & left
= ui.nfg :icon, 'rocket', text: 'Icon on the left'
%br
= ui.nfg :icon, 'rocket', :right, :warning, text: 'Icon on the right with trait'
%br
= ui.nfg :icon, 'rocket', text: 'Icon on the right with option', right: true

%h2 Themes via traits

%br
= ui.nfg :icon, 'rocket', :primary
%br
= ui.nfg :icon, 'rocket', :secondary
%br
= ui.nfg :icon, 'rocket', :success
%br
= ui.nfg :icon, 'rocket', :danger
%br
= ui.nfg :icon, 'rocket', :warning
%br
= ui.nfg :icon, 'rocket', :info
%br
= ui.nfg :icon, 'rocket', :light
%br
= ui.nfg :icon, 'rocket', :dark

%hr

%h2 Themes via options

%br
= ui.nfg :icon, 'rocket', theme: :primary
%br
= ui.nfg :icon, 'rocket', theme: :secondary
%br
= ui.nfg :icon, 'rocket', theme: :success
%br
= ui.nfg :icon, 'rocket', theme: :danger
%br
= ui.nfg :icon, 'rocket', theme: :warning
%br
= ui.nfg :icon, 'rocket', theme: :info
%br
= ui.nfg :icon, 'rocket', theme: :light
%br
= ui.nfg :icon, 'rocket', theme: :dark

%hr

%h2 Muted
= ui.nfg :icon, 'rocket', :muted
