%h1 Button Groups

%h2 Pre-configured, design system buttons

%hr

%h2 Manually Created Button Groups

%h3 Patterns

%h4 Button Group Themes
= nfg_ui :button_group, class: 'example-class' do
  = nfg_ui :button, as: :button, theme: :primary, body: 'Button'
  = nfg_ui :button, as: :button, theme: :primary do
    Button
  = nfg_ui :button, as: :button, theme: :primary do
    Button

%br

= nfg_ui :button_group, class: 'example-class' do
  = nfg_ui :button, as: :button, theme: :secondary, body: 'Button'
  = nfg_ui :button, as: :button, theme: :secondary do
    Button
  = nfg_ui :button, as: :button, theme: :secondary do
    Button

%br

= nfg_ui :button_group, class: 'example-class' do
  = nfg_ui :button, as: :button, theme: :success, body: 'Button'
  = nfg_ui :button, as: :button, theme: :success do
    Button
  = nfg_ui :button, as: :button, theme: :success do
    Button

%br

= nfg_ui :button_group, class: 'example-class' do
  = nfg_ui :button, as: :button, theme: :danger, body: 'Button'
  = nfg_ui :button, as: :button, theme: :danger do
    Button
  = nfg_ui :button, as: :button, theme: :danger do
    Button

%br

= nfg_ui :button_group, class: 'example-class' do
  = nfg_ui :button, as: :button, theme: :warning, body: 'Button'
  = nfg_ui :button, as: :button, theme: :warning do
    Button
  = nfg_ui :button, as: :button, theme: :warning do
    Button

%br

= nfg_ui :button_group, class: 'example-class' do
  = nfg_ui :button, as: :button, theme: :info, body: 'Button'
  = nfg_ui :button, as: :button, theme: :info do
    Button
  = nfg_ui :button, as: :button, theme: :info do
    Button

%br

= nfg_ui :button_group, class: 'example-class' do
  = nfg_ui :button, as: :button, theme: :light, body: 'Button'
  = nfg_ui :button, as: :button, theme: :light do
    Button
  = nfg_ui :button, as: :button, theme: :light do
    Button

%br

= nfg_ui :button_group, class: 'example-class' do
  = nfg_ui :button, as: :button, theme: :dark, body: 'Button'
  = nfg_ui :button, as: :button, theme: :dark do
    Button
  = nfg_ui :button, as: :button, theme: :dark do
    Button


%hr

%h4 Button Groups with links
= nfg_ui :button_group, class: 'example-class' do
  / = nfg_ui :button, href: '#testURL', body: 'Link Btn W/O :as'
  = nfg_ui :button, as: :link, active: true, href: '#testURL' do
    Active Button
  = nfg_ui :button, as: :link do
    Link Button without HREF

%hr

%h4 Button groups with buttons
= nfg_ui :button_group, role: 'not a good one' do
  = nfg_ui :button, as: :button, body: 'Button'
  = nfg_ui :button, as: :button do
    Button
  = nfg_ui :button, as: :button do
    Button

%hr

%h3 Sizing

= nfg_ui :button_group, size: :lg, aria: { 'test' => 'test2' } do
  = nfg_ui :button, as: :button, body: 'Left'
  = nfg_ui :button, as: :button do
    Middle
  = nfg_ui :button, as: :button do
    Right

= nfg_ui :button_group, aria: { 'test' => 'test2' } do
  = nfg_ui :button, as: :button, body: 'Left'
  = nfg_ui :button, as: :button do
    Middle
  = nfg_ui :button, as: :button do
    Right

= nfg_ui :button_group, size: :sm, aria: { 'test' => 'test2' } do
  = nfg_ui :button, as: :button, body: 'Left'
  = nfg_ui :button, as: :button do
    Middle
  = nfg_ui :button, as: :button do
    Right

%hr

%h4 Nesting Button Groups

%h5 Nesting Sizes
= nfg_ui :button_group, size: :lg, aria: { 'test' => 'test2' } do
  = nfg_ui :button, as: :button, body: 'Large Left'
  = nfg_ui :button, as: :button do
    Large Middle
  = nfg_ui :button, as: :button do
    Large Right

  = nfg_ui :button_group, size: :sm, aria: { 'test' => 'test2' } do
    = nfg_ui :button, as: :button, body: 'Small Left'
    = nfg_ui :button, as: :button do
      Small Middle
    = nfg_ui :button, as: :button do
      Small Right

%hr

%h3 Vertical variation
%h4 Button groups with buttons
= nfg_ui :button_group, :vertical, aria: { 'test' => 'test2' } do
  = nfg_ui :button, as: :button, body: 'Button'
  = nfg_ui :button, as: :button do
    Button
  = nfg_ui :button, as: :button do
    Button
