= favicon_link_tag 'nfg_ui/app_icon/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180'
= favicon_link_tag 'nfg_ui/app_icon/favicon.ico'
= favicon_link_tag 'nfg_ui/app_icon/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png'
= favicon_link_tag 'nfg_ui/app_icon/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png'
= favicon_link_tag 'nfg_ui/app_icon/site.webmanifest', rel: 'manifest', type: nil
= favicon_link_tag 'nfg_ui/app_icon/safari-pinned-tab.svg', color: '#25ACEB', rel: 'mask-icon'

%meta{ content: '#ffffff', name: 'msapplication-TileColor' }
%meta{ name: 'msapplication-config', content: asset_path('nfg_ui/app_icon/browserconfig.xml') }
%meta{ content: '#ffffff', name: 'theme-color' }