%div{ tile.html_options }
  - if tile.title.present?
    = ui.nfg :tile_header, (:collapsible if tile.collapsible?), icon: tile.icon, title: tile.title, id: (tile.id if tile.collapsible?), collapsed: (tile.collapsed? if tile.collapsible?)

  - if tile.collapsible?
    %div{ tile.collapsible_wrapper_html_options }
      = ui.nfg :tile_body, heading: tile.heading.presence do
        = tile.body
  - else
    = ui.nfg :tile_body, heading: tile.heading.presence do
      = tile.body
