%div{ tile.html_options }
  - if tile.title.present?
    = ui.nfg :tile_header, *tile.collapsible_trait, icon: tile.icon, title: tile.title, id: tile.id

  - if tile.body
    = ui.nfg :tile_body, *tile.collapsible_trait, heading: tile.heading.presence, id: tile.id do
      = tile.body

      - if tile.sections.present?
        - tile.sections.each do |section_body|
          = ui.nfg :tile_section, body: section_body
      
      - if tile.section
        = ui.nfg :tile_section, body: tile.section
      
  - if tile.footer
    = ui.nfg :tile_footer, body: tile.footer
