%h1 Badges

%h2 Standard Badges
-# Block example
= nfg_ui :badge, class: 'example-class' do
  Default

= nfg_ui :badge, body: 'Primary', theme: :primary, class: 'example-class'

= nfg_ui :badge, body: 'Secondary', theme: :secondary, class: 'example-class' 

= nfg_ui :badge, body: 'Success', theme: :success, class: 'example-class' 

= nfg_ui :badge, body: 'Danger', theme: :danger, class: 'example-class' 

= nfg_ui :badge, body: 'Warning', theme: :warning, class: 'example-class' 

= nfg_ui :badge, body: 'Info', theme: :info, class: 'example-class' 

= nfg_ui :badge, body: 'Light', theme: :light, class: 'example-class' 
= nfg_ui :badge, body: 'Dark', theme: :dark, class: 'example-class' 

%hr

%h2 Pill Badges
-# Block example
= nfg_ui :badge, :pill, class: 'example-class' do
  Default

= nfg_ui :badge, :pill, body: 'Primary', theme: :primary, class: 'example-class'

= nfg_ui :badge, :pill, body: 'Secondary', theme: :secondary, class: 'example-class' 

= nfg_ui :badge, :pill, body: 'Success', theme: :success, class: 'example-class' 

= nfg_ui :badge, :pill, body: 'Danger', theme: :danger, class: 'example-class' 

= nfg_ui :badge, :pill, body: 'Warning', theme: :warning, class: 'example-class' 

= nfg_ui :badge, :pill, body: 'Info', theme: :info, class: 'example-class' 

= nfg_ui :badge, :pill, body: 'Light', theme: :light, class: 'example-class' 
= nfg_ui :badge, :pill, body: 'Dark', theme: :dark, class: 'example-class' 

%hr

%h2 Badges as links
-# Block example
= nfg_ui :badge, as: :link, class: 'example-class' do
  Default no href

= nfg_ui :badge, body: 'Primary', href: '#nogo', theme: :primary, class: 'example-class'

= nfg_ui :badge, as: :link, body: 'Secondary', href: '#nogo', theme: :secondary, class: 'example-class' 

= nfg_ui :badge, as: :link, body: 'Success', href: '#nogo', theme: :success, class: 'example-class' 

= nfg_ui :badge, as: :link, body: 'Danger', href: '#nogo', theme: :danger, class: 'example-class' 

= nfg_ui :badge, as: :link, body: 'Warning', href: '#nogo', theme: :warning, class: 'example-class' 

= nfg_ui :badge, as: :link, body: 'Info', href: '#nogo', theme: :info, class: 'example-class' 

= nfg_ui :badge, as: :link, body: 'Light', href: '#nogo', theme: :light, class: 'example-class' 
= nfg_ui :badge, as: :link, body: 'Dark', href: '#nogo', theme: :dark, class: 'example-class' 
