%h1 Badges

= nfg_ui :badge, class: 'example-class' do
  Fantastic Badge Without Theme

= nfg_ui :badge, body: 'Passed in as a local: This is a crazy cool badge!', theme: :primary, class: 'example-class', body: 'Primary'

= nfg_ui :badge, body: 'Secondary', theme: :secondary, class: 'example-class' 

= nfg_ui :badge, body: 'Success', theme: :success, class: 'example-class' 

= nfg_ui :badge, body: 'Danger', theme: :danger, class: 'example-class' 

= nfg_ui :badge, body: 'Warning', theme: :warning, class: 'example-class' 

= nfg_ui :badge, body: 'Info', theme: :info, class: 'example-class' 

= nfg_ui :badge, body: 'Light', theme: :light, class: 'example-class' 

= nfg_ui :badge, body: 'Dark', theme: :dark, class: 'example-class' 
