-# http://getbootstrap.com/docs/4.1/components/card/
%div{ card.html_options }
  - if card.render_in_body
    - if card.heading.present?
      = ui.bootstrap :card_header, heading: card.heading
    .card-body
      - if card.title.present?
        %h5.card-title= card.title
      - if card.subtitle.present?
        %h6.card-subtitle= card.subtitle
      = card.body
    - if card.footer.present?
      = ui.nfg :card_footer, body: card.footer
  - else
    = card.body
