- modal_id = 'test_modal'
- modal_target = "##{modal_id}"

-# As a link
%p= link_to 'Test Modal Link', '#test_href', data: { toggle: 'modal', target: modal_target, describe: 'modal-link' }

-# As a link with remote: true
-# Note: since this is not a nfg_ui component, it will fire the modal.
-# For links, when data attributes are present, the `remote: true` must be inside the data hash
%p= link_to 'Test Modal Link with Remote True', '#test_href', data: { toggle: 'modal', target: modal_target, describe: 'modal-link-with-remote', remote: true }

%hr

-# Standard modal button
%p= ui.nfg :button, as: :button, body: 'Modal Trigger Button', modal: modal_target, describe: 'modal-button-as-button'

-# Modal button as a link
%p= ui.nfg :button, as: :a, body: 'Modal Trigger Button as Link', modal: modal_target, describe: 'modal-button-as-link'

-# Modal button as a link with remote true
-# Note: When remote: true, it should not supply the modal data attributes (modal is ignored)
%p= ui.nfg :button, :remote, as: :a, body: 'Modal Trigger Button as Link with :Remote trait', modal: modal_target, describe: 'modal-button-as-link-with-remote'

-# Modal button as a link with a pre-supplied href
%p= ui.nfg :button, as: :a, body: 'Modal Trigger Button with href', modal: modal_target, describe: 'modal-button-as-link-with-href', href: '#included_href'

-# Disabled modal button
%p
  %span{ data: { describe: 'disabled-button-wrapper' } }
    = ui.nfg :button, :disabled, body: 'Disabled Modal Trigger Button', modal: modal_target, describe: 'disabled-modal-button', id: 'disabled_modal_button'

-# Modal button with a competing data enriching tooltip
-# Note: the tooltip should not show, nor its data attributes be present
-# Modal will always take precedence over tooltip
%p= ui.nfg :button, body: 'Modal Button with Competing Tooltip', modal: modal_target, tooltip: 'Test tooltip', describe: 'modal-button-with-tooltip'

%hr

-# Modal dropdown items

= ui.nfg :dropdown do
  = ui.nfg :dropdown_toggle, body: 'Modalable Dropdown Items', describe: 'dropdown-menu'
  
  = ui.nfg :dropdown_menu do
    
    -# Dropdown item without href
    = ui.nfg :dropdown_item, body: 'Modal Dropdown Item - No Href', icon: 'rocket', modal: modal_target, describe: 'modal-dropdown-item'
    
    -# Dropdown item with href
    = ui.nfg :dropdown_item, body: 'Modal Dropdown Item - With Href', icon: 'rocket', modal: modal_target, href: '#included_href', describe: 'modal-dropdown-item-with-href'

    -# Dropdown item with href and remote: true
    -# Note: When remote: true, it should not supply the modal data attributes (modal is ignored)
    = ui.nfg :dropdown_item, :remote, body: 'Modal Dropdown Item - With Href and :remote trait', icon: 'rocket', modal: modal_target, href: '#included_href', describe: 'modal-dropdown-item-with-remote'
    
    -# Dropdown item with modal & competing data enriching tooltip
    -# Note: the tooltip should not show, nor its data attributes be present
    -# Modal will always take precedence over tooltip
    = ui.nfg :dropdown_item, body: 'Modal Dropdown Item - With Tooltip', icon: 'rocket', modal: modal_target, describe: 'modal-dropdown-item-with-tooltip', tooltip: 'Test tooltip'

    -# Disabled dropdown item
    %span{ data: { describe: 'disabled-dropdown-item-wrapper' } }
      = ui.nfg :dropdown_item, :disabled, body: 'Disabled Modal Dropdown Item - No Href', icon: 'rocket', modal: modal_target, describe: 'disabled-modal-dropdown-item'

-# The modal
= ui.nfg :modal, id: modal_id, title: 'Test Modal', describe: 'modal', render_in_body: false do
  = ui.nfg :modal_body, body: 'Test modal content'
  = ui.nfg :modal_footer do
    = ui.nfg :button, dismiss: :modal, body: 'Close Modal', describe: 'modal-footer-close-button'
