%h1 Slats

%h2.mb-4 Manual build
= ui.nfg :slats do
  = ui.nfg :slat_header do
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, slat_header: 'First Column'
        = ui.nfg :slat_item, slat_header: 'Second Column'
      = ui.nfg :slat_actions, slat_header: true

  = ui.nfg :slat_list do
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'Karl Fergood live here at this column', caption: 'A caption about this contact'
        = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

      = ui.nfg :slat_actions do
        = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
        = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'
