%h1.mb-4 Slats

= ui.nfg :tile_section, heading: 'Default Slats' do
  = ui.nfg :typeface, :muted, body: 'Actions dropdown on larger screen turns into just caret-down icon on smaller screens.'
  = ui.nfg :slats do
    = ui.nfg :slat_header do
      = ui.nfg :slat do
        = ui.nfg :slat_body do
          = ui.nfg :slat_item, slat_header: 'First Column', tooltip: 'Tooltip example on slat_header'
          = ui.nfg :slat_item, slat_header: 'Second Column', tooltip: 'Tooltip example on slat_header'
          = ui.nfg :slat_item, slat_header: 'Third Column', tooltip: 'Tooltip example on slat_header'
          = ui.nfg :slat_item, slat_header: 'Fourth Column', tooltip: 'Tooltip example on slat_header'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'Karl Fergood - Link', href: '#nogo', tooltip: 'Tooltip example on heading'
        = ui.nfg :slat_item, heading: 'Second2 Column', tooltip: 'Tooltip example on heading only (not body)' do
          = ui.nfg :typeface, :truncate, body: 'aReallyLongStringForTruncationExampleIsPlacedHereAndBecauseItsGreatToStressTestItsEvenLonger!', class: 'mb-0'
        = ui.nfg :slat_item, heading: 'Third Column', heading: '$5000', caption: 'An amount caption', tooltip: 'Tooltip on heading, not caption'
        = ui.nfg :slat_item, tooltip: 'Tooltip on rendered block body' do
          Example for tooltip
      = ui.nfg :slat_actions do
        = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
        = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'

= ui.nfg :tile_section, heading: 'Slats with large slat actions' do
  = ui.nfg :typeface, :muted, body: 'Button present on all screen sizes.'
  = ui.nfg :slats, slat_actions: :lg do
    = ui.nfg :slat_header do
      = ui.nfg :slat do
        = ui.nfg :slat_body do
          = ui.nfg :slat_item, slat_header: 'First Column'
          = ui.nfg :slat_item, slat_header: 'Second Column'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'Default actions menu'
        = ui.nfg :slat_item, heading: '$5000'
      = ui.nfg :slat_actions do
        = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
        = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'No menu and single action button'
        = ui.nfg :slat_item, heading: '$5000'
      = ui.nfg :slat_actions, button: true, menu: false, icon: 'pencil', body: 'Edit', href: '#nogo'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'No menu and single action button with no button and :danger theme'
        = ui.nfg :slat_item, heading: '$5000'
      = ui.nfg :slat_actions, :danger, button: false, menu: false, icon: 'trash', body: 'Delete', href: '#nogo'

= ui.nfg :tile_section, heading: 'Slats with small slat actions' do
  = ui.nfg :typeface, :muted, body: 'Icon ONLY present on all screen sizes.'
  = ui.nfg :slats, slat_actions: :sm do
    = ui.nfg :slat_header do
      = ui.nfg :slat do
        = ui.nfg :slat_body do
          = ui.nfg :slat_item, slat_header: 'First Column'
          = ui.nfg :slat_item, slat_header: 'Second Column'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'No menu and single icon action button'
        = ui.nfg :slat_item, heading: '$5000'
      = ui.nfg :slat_actions, button: true, menu: false, icon: 'pencil', href: '#nogo'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'No menu and single icon action with no button and :danger theme'
        = ui.nfg :slat_item, heading: '$5000'
      = ui.nfg :slat_actions, :danger, button: false, menu: false, icon: 'trash', href: '#nogo'

= ui.nfg :tile_section, heading: 'Slats without slat actions' do
  = ui.nfg :typeface, :muted, body: 'No slat actions allows for content (slat-body) to be full width of slat.'
  = ui.nfg :slats, slat_actions: :none do
    = ui.nfg :slat_header do
      = ui.nfg :slat do
        = ui.nfg :slat_body do
          = ui.nfg :slat_item, slat_header: 'First Column'
          = ui.nfg :slat_item, slat_header: 'Second Column'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'Karl Fergood lives here in this column', caption: 'A caption about this contact'
        = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

= ui.nfg :tile_section, heading: 'Slats with large spacing' do
  = ui.nfg :typeface, :muted, body: 'Used when the slats need to be expanded.'
  = ui.nfg :slats, :lg do
    = ui.nfg :slat_header do
      = ui.nfg :slat do
        = ui.nfg :slat_body do
          = ui.nfg :slat_item, slat_header: 'First Column'
          = ui.nfg :slat_item, slat_header: 'Second Column'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'Karl Fergood lives here in this column', caption: 'A caption about this contact'
        = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'
      = ui.nfg :slat_actions do
        = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
        = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'

= ui.nfg :tile_section, heading: 'Slats with small spacing' do
  = ui.nfg :typeface, :muted, body: 'Used when the slats need to be condensed.'
  = ui.nfg :slats, :sm do
    = ui.nfg :slat_header do
      = ui.nfg :slat do
        = ui.nfg :slat_body do
          = ui.nfg :slat_item, slat_header: 'First Column'
          = ui.nfg :slat_item, slat_header: 'Second Column'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'Karl Fergood lives here in this column', caption: 'A caption about this contact'
        = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'
      = ui.nfg :slat_actions do
        = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
        = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'

= ui.nfg :tile_section, heading: 'Slats with nowrap' do
  = ui.nfg :typeface, :muted, body: 'Used when slat items should not wrap on smaller screens.'
  = ui.nfg :slats, :nowrap do
    = ui.nfg :slat_header do
      = ui.nfg :slat do
        = ui.nfg :slat_body do
          = ui.nfg :slat_item, slat_header: 'First Column'
          = ui.nfg :slat_item, slat_header: 'Second Column'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, heading: 'Karl Fergood lives here in this column', caption: 'A caption about this contact'
        = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'
      = ui.nfg :slat_actions do
        = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
        = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'

= ui.nfg :tile_section, heading: 'Slats with medium slat item' do
  = ui.nfg :slats, class: 'mt-3' do
    = ui.nfg :slat_header do
      = ui.nfg :slat do
        = ui.nfg :slat_body do
          = ui.nfg :slat_item, :md, slat_header: 'First Column'
          = ui.nfg :slat_item, slat_header: 'Second Column'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, :md, heading: 'Karl Fergood lives here in this column', caption: 'A caption about this contact'
        = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'
      = ui.nfg :slat_actions do
        = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
        = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'

= ui.nfg :tile_section, heading: 'Slats with large slat item' do
  = ui.nfg :slats, class: 'mt-3' do
    = ui.nfg :slat_header do
      = ui.nfg :slat do
        = ui.nfg :slat_body do
          = ui.nfg :slat_item, :lg, slat_header: 'First Column'
          = ui.nfg :slat_item, slat_header: 'Second Column'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, :lg, heading: 'Karl Fergood lives here in this column', caption: 'A caption about this contact'
        = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'
      = ui.nfg :slat_actions do
        = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
        = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'

= ui.nfg :tile_section, heading: 'Slats with extra large slat item' do
  = ui.nfg :slats, class: 'mt-3' do
    = ui.nfg :slat_header do
      = ui.nfg :slat do
        = ui.nfg :slat_body do
          = ui.nfg :slat_item, :xl, slat_header: 'First Column'
          = ui.nfg :slat_item, slat_header: 'Second Column'
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, :xl, heading: 'Karl Fergood lives here in this column', caption: 'A caption about this contact'
        = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'
      = ui.nfg :slat_actions do
        = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
        = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'

%hr

%h3.mt-5.mb-3 Slat Actions that build a slat action on their own
.text-right
  ":warning trait (button)"
  %br
  = ui.nfg :slat_actions, :warning, menu: false, icon: 'trash', href: '#nogo', button: true
  = ui.nfg :slat_actions, :warning, menu: false, icon: 'trash', href: '#nogo', button: true, body: 'Delete'

  %p.my-3
  "Theme: :danger (button)"
  %br
  = ui.nfg :slat_actions, theme: :danger, menu: false, icon: 'trash', href: '#nogo', button: true
  = ui.nfg :slat_actions, theme: :danger, menu: false, icon: 'trash', href: '#nogo', button: true, body: 'Delete'
  %p.my-3
  "No theme (button)"
  %br
  = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo', button: true
  = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo', button: true, body: 'Delete'
  %p.my-3
  ":warning trait (not button)"
  %br
  = ui.nfg :slat_actions, :warning, menu: false, icon: 'trash', href: '#nogo', button: false
  = ui.nfg :slat_actions, :warning, menu: false, icon: 'trash', href: '#nogo', button: false, body: 'Delete'
  %p.my-3
  "theme: :danger (not button)"
  %br
  = ui.nfg :slat_actions, theme: :danger, menu: false, icon: 'trash', href: '#nogo'
  = ui.nfg :slat_actions, theme: :danger, menu: false, icon: 'trash', href: '#nogo', body: 'Delete'

  %p.my-3
  "no theme"
  = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo'
  = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo', body: 'Delete'
