
-# Example of actions dropdown syntax
= ui.nfg :button, :outlined, :secondary do
  %span.d-none.d-md-inline-block.mr-1 Actions
  = ui.nfg :icon, 'caret-down'


%p.my-5

%h1 Slats

%h2.mb-4 Manual build

%p
  Slat Actions
  %br
  %pre slat_actions: :sm, :lg, :none
  %br
  %pre :slat_actions_sm, :slat_actions_lg, :slat_actions_none

= ui.nfg :slats, :lg, :nowrap, slat_actions: :lg do
  = ui.nfg :slat_header do
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, slat_header: 'First Column'
        = ui.nfg :slat_item, slat_header: 'Second Column'

  = ui.nfg :slat do
    = ui.nfg :slat_body do
      = ui.nfg :slat_item, heading: 'Karl Fergood live here at this column', caption: 'A caption about this contact'
      = ui.nfg :slat_item do
        = ui.nfg :typeface, :truncate, body: 'aReallyLongStringForTruncationExampleIsPlacedHereAndBecauseItsGreatToStressTestItsEvenLonger!'
    = ui.nfg :slat_actions do
      = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
      = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'

  = ui.nfg :slat do
    = ui.nfg :slat_body do
      = ui.nfg :slat_item, heading: 'Karl Fergood - Link', href: '#nogo'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'
    = ui.nfg :slat_actions do
      = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
      = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'

  = ui.nfg :slat do
    = ui.nfg :slat_body do
      = ui.nfg :slat_item, heading: 'Non-wide slat set on slat_actions (wide: false)'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'
    = ui.nfg :slat_actions do
      = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
      = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'

.mt-5
%hr
.mb-5

%h3.mb-4 Non-wide slat rows (action dropdowns without text)

= ui.nfg :slats do
  = ui.nfg :slat_header do
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, slat_header: 'First Column'
        = ui.nfg :slat_item, slat_header: 'Second Column'

  = ui.nfg :slat do
    = ui.nfg :slat_body do

      = ui.nfg :slat_item, heading: 'Non-wide slat set on slat_actions (wide: false)'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions do
      = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
      = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'
  = ui.nfg :slat do
    = ui.nfg :slat_body do
      = ui.nfg :slat_item, heading: 'Non-wide slat set on slat_actions (wide: false)'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions do
      = ui.nfg :slat_action, href: '#', body: 'Edit', icon: 'pencil'
      = ui.nfg :slat_action, :danger, href: '#', body: 'Delete', icon: 'trash-o', method: :delete, confirm: 'Are you sure you want to delete?'


.mt-5
%hr
.mb-5

%h3.mb-4 Slats without action menus but with action column

= ui.nfg :slats do
  = ui.nfg :slat_header do
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, slat_header: 'First Column'
        = ui.nfg :slat_item, slat_header: 'Second Column'


  = ui.nfg :slat do
    = ui.nfg :slat_body do

      = ui.nfg :slat_item, heading: 'Slat information'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions, menu: false, icon: 'trash', body: 'Delete', href: '#nogo'
  = ui.nfg :slat do
    = ui.nfg :slat_body do

      = ui.nfg :slat_item, heading: 'Button version'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions, menu: false, icon: 'trash', body: 'Button', href: '#nogo', button: true
  = ui.nfg :slat do
    = ui.nfg :slat_body do

      = ui.nfg :slat_item, heading: 'Slat information'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions, :danger, menu: false, icon: 'trash', body: 'Delete', href: '#nogo', remote: true, method: :get

.mt-5
%hr
.mb-5

%h3.my-4 Slats without action menus but with action column, icon only (not wide)

= ui.nfg :slats do
  = ui.nfg :slat_header do
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, slat_header: 'First Column'
        = ui.nfg :slat_item, slat_header: 'Second Column'


  = ui.nfg :slat do
    = ui.nfg :slat_body do

      = ui.nfg :slat_item, heading: 'Button version of slat action'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions, button: true, menu: false, icon: 'trash', href: '#nogo'
  = ui.nfg :slat do
    = ui.nfg :slat_body do

      = ui.nfg :slat_item, heading: 'Slat information'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo'

  = ui.nfg :slat do
    = ui.nfg :slat_body do

      = ui.nfg :slat_item, heading: 'Slat information'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo', method: :get, disable_with: 'Disabler', confirm: 'Are you sure?'

  = ui.nfg :slat do
    = ui.nfg :slat_body do

      = ui.nfg :slat_item, heading: 'Button version of slat action'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions, button: true, menu: false, icon: 'trash', href: '#nogo'

.row
  .col-md-6.col-8.mx-auto
    = ui.nfg :slats do
      = ui.nfg :slat_header do
        = ui.nfg :slat do
          = ui.nfg :slat_body do
            = ui.nfg :slat_item, slat_header: 'First Column'
            = ui.nfg :slat_item, slat_header: 'Second Column', class: 'text-right'


      = ui.nfg :slat do
        = ui.nfg :slat_body do

          = ui.nfg :slat_item, heading: 'Slat information'
          = ui.nfg :slat_item, heading: '$5000', class: 'text-right', caption: 'An amount caption'

        = ui.nfg :slat_actions, :danger, menu: false, icon: 'trash', href: '#nogo', confirm: 'Test', method: :delete

      = ui.nfg :slat do
        = ui.nfg :slat_body do

          = ui.nfg :slat_item, heading: 'Slat information'
          = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

        = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo', method: :get, disable_with: 'Disabler', confirm: 'Are you sure?'



.mt-5
%hr
.mb-5

%h3.my-4 Slat with slat-items lg
= ui.nfg :slats do
  = ui.nfg :slat_header do
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, slat_header: 'First Column'
        = ui.nfg :slat_item, slat_header: 'Second Column'


  = ui.nfg :slat do
    = ui.nfg :slat_body do

      = ui.nfg :slat_item, :lg, heading: 'Slat information (:lg)'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions, :warning, menu: false, icon: 'trash', href: '#nogo'

  = ui.nfg :slat do
    = ui.nfg :slat_body do

      = ui.nfg :slat_item, :lg, heading: 'Slat information (:lg) button version'
      = ui.nfg :slat_item, heading: '$5000', caption: 'An amount caption'

    = ui.nfg :slat_actions, :warning, menu: false, icon: 'trash', href: '#nogo', button: true

.mt-5
%hr
.mb-5

%h3.my-4 Slats with sm

= ui.nfg :slats, :sm do
  = ui.nfg :slat_header do
    = ui.nfg :slat do
      = ui.nfg :slat_body do
        = ui.nfg :slat_item, slat_header: 'First Column'


  = ui.nfg :slat do
    = ui.nfg :slat_body do
      = ui.nfg :slat_item, heading: 'Your shopping cart'

%hr

%h3.my-4 Slat Actions that build a slat action on their own
.text-right
  ":warning trait (button)"
  %br
  = ui.nfg :slat_actions, :warning, menu: false, icon: 'trash', href: '#nogo', button: true
  = ui.nfg :slat_actions, :warning, menu: false, icon: 'trash', href: '#nogo', button: true, body: 'Delete'

  %p.my-3
  "Theme: :danger (button)"
  %br
  = ui.nfg :slat_actions, theme: :danger, menu: false, icon: 'trash', href: '#nogo', button: true
  = ui.nfg :slat_actions, theme: :danger, menu: false, icon: 'trash', href: '#nogo', button: true, body: 'Delete'
  %p.my-3
  "No theme (button)"
  %br
  = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo', button: true
  = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo', button: true, body: 'Delete'
  %p.my-3
  ":warning trait (not button)"
  %br
  = ui.nfg :slat_actions, :warning, menu: false, icon: 'trash', href: '#nogo', button: false
  = ui.nfg :slat_actions, :warning, menu: false, icon: 'trash', href: '#nogo', button: false, body: 'Delete'
  %p.my-3
  "theme: :danger (not button)"
  %br
  = ui.nfg :slat_actions, theme: :danger, menu: false, icon: 'trash', href: '#nogo'
  = ui.nfg :slat_actions, theme: :danger, menu: false, icon: 'trash', href: '#nogo', body: 'Delete'

  %p.my-3
  "no theme"
  = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo'
  = ui.nfg :slat_actions, menu: false, icon: 'trash', href: '#nogo', body: 'Delete'
