%h1 Tiles

%hr

%h2.mb-2
  = ui.nfg :badge, :success, body: 'New'
  Full Example

= ui.nfg :tile, render_in_body: false do
  = ui.nfg :tile_header do
    .row
      .col-12.col-md
        %h4
          = ui.nfg :icon, 'rocket', class: 'mr-1'
          Tile Title
        = ui.nfg :typeface, :muted, body: 'Tile Subtitle', class: 'mt-1 mb-0'
      .col-12.col-md-auto.mt-md-0.mt-2
        = ui.nfg :media do
          = ui.nfg :media_body do
            = ui.nfg :button, :secondary, href: '#', body: 'Title Button'
          = ui.nfg :media_object do
            = ui.nfg :button, :link, collapse: '#', icon: 'caret-down', class: 'ml-2'

  = ui.nfg :tile_body, body: 'Some content'

-# Add Exapmle here

%hr

%h2.mb-2
  = ui.nfg :badge, :success, body: 'New'
  No Collapse Example

= ui.nfg :tile, render_in_body: false do
  = ui.nfg :tile_header do
    .row
      .col-12.col-md
        %h4
          = ui.nfg :icon, 'rocket', class: 'mr-1'
          Tile Title
        = ui.nfg :typeface, :muted, body: 'Tile Subtitle', class: 'mt-1 mb-0'
      .col-12.col-md-auto.mt-md-0.mt-2
        = ui.nfg :media do
          = ui.nfg :media_body do
            = ui.nfg :button, :secondary, href: '#', body: 'Title Button'
  = ui.nfg :tile_body, body: 'Some content'

%hr

%h2.mb-2
  = ui.nfg :badge, :success, body: 'New'
  No Icon Example

= ui.nfg :tile, render_in_body: false do
  = ui.nfg :tile_header do
    .row
      .col-12.col-md
        %h4
          Tile Title
        = ui.nfg :typeface, :muted, body: 'Tile Subtitle', class: 'mt-1 mb-0'
      .col-12.col-md-auto.mt-md-0.mt-2
        = ui.nfg :media do
          = ui.nfg :media_body do
            = ui.nfg :button, :secondary, href: '#', body: 'Title Button'

%hr

%h2.mb-2
  = ui.nfg :badge, :success, body: 'New'
  No Button Example

= ui.nfg :tile, render_in_body: false do
  = ui.nfg :tile_header do
    .row
      .col-12.col-md
        %h4
          Tile Title
        = ui.nfg :typeface, :muted, body: 'Tile Subtitle', class: 'mt-1 mb-0'

%hr

%h2.mb-2
  = ui.nfg :badge, :success, body: 'New'
  No Subtitle Example

= ui.nfg :tile, render_in_body: false do
  = ui.nfg :tile_header do
    .row
      .col-12.col-md
        %h4
          Tile Title


%hr

%h2 Tile without rendered body (for super custom)

= ui.nfg :tile, title: 'Tile without body', render_in_body: false do
  = ui.nfg :tile_body, body: 'Manual tile body'
  = ui.nfg :tile_body do
    %p Some content for the second tile body
    = ui.nfg :tile_section, body: 'Tile Section!', heading: 'Section heading'

%hr

%h2 Collapse via different conventions (for testing)
= ui.nfg :tile, title: 'Tile Title', icon: 'rocket', class: 'my-4' do
  No collapse attributes or traits

= ui.nfg :tile, title: 'Tile Title', icon: 'rocket', class: 'my-4', collapsed: false, id: 'tile1' do
  Collaps<b class='text-success'>ed</b> <b class='text-danger'>False</b>
  %p options[:collapsed] = false
  %i Expected: Collapsible

= ui.nfg :tile, title: 'Tile Title', icon: 'rocket', class: 'my-4', collapsed: true, id: 'tile2' do
  Collaps<b class='text-success'>ed</b> <b class='text-success'>True</b>
  %p options[:collapsed] = true
  %i Expected: Collapsible

= ui.nfg :tile, title: 'Tile Title', icon: 'rocket', class: 'my-4', collapsible: true, id: 'tile3' do
  Collaps<b class='text-danger'>ible</b> <b class='text-success'>True</b>
  %p options[:collapsible] = true
  %i Expected: Collapsible

= ui.nfg :tile, title: 'Tile Title', icon: 'rocket', class: 'my-4', collapsible: false, id: 'tile4' do
  Collaps<b class='text-danger'>ible</b> <b class='text-danger'>False</b>
  %p options[:collapsible] = false
  %i Expected: <b>NOT</b> Collapsible

%hr

%h2.mb-4 Default tiles
= ui.nfg :tile, title: 'Tile Title', icon: 'rocket', class: 'mb-4' do
  %b Howdy no collapse attribute or trait

%hr

= ui.nfg :tile, :collapsed, title: 'Collapsed Tile via Traits', icon: 'rocket', id: 'tile_2', class: 'mb-4' do
  %b Collapsed trait, content should be collapsed

%hr

%h2 Collapsible tiles
= ui.nfg :tile, :collapsible, title: 'Collapsible Not-Auto-Collapsed Tile', icon: 'rocket', id: 'tile_3', class: 'my-4' do
  %p Collapsible Tile Body

= ui.nfg :tile, :collapsed, title: 'Collapsed via Traits Without Icon', body: 'Collapsed content for tile via :collapsed trait', id: 'tile_4', class: 'mb-4'

= ui.nfg :tile, title: 'Collapsed via attributes - no icon', body: 'Collapsed content for tile via collapsed: true', collapsed: true, id: 'tile_5', class: 'mb-4'

%hr

%h3 Tile with sections

= ui.nfg :tile, :collapsible, title: 'Tile with block section', icon: 'rocket', heading: 'Tile with block section heading', id: 'tile_9', class: 'my-4', body: 'Locally assigned body' do
  = ui.nfg :tile_section, body: 'Section body passed in locally'
  = ui.nfg :tile_section, heading: 'Tile heading', icon: 'dollar' do
    Block section written in
  = ui.nfg :tile_section, heading: 'Tile heading', icon: 'dollar' do
    Block section written in
