%h1 Avatars

%h2 Standard Avatars
%p Avatars are :wrappable, so you can send in an :href to the options and it'll automatically generate the avatar as a link.
%p Avatars come with sizes: :sm, :md: ,lg:, :xl. :md is default
%p Pass in an image to render an image, or a body to send in text (e.g.: initials) to the component. If passing in an image, :alt is available and will be passed through to the image as an alt tag.

= ui.nfg :typeface, subheading: 'Default avatars, no sizing set', class: 'mb-1'
.row
  .col
    = ui.nfg :avatar, body: 'KM'
    %br
    = ui.nfg :typeface, caption: 'No options'
  .col
    = ui.nfg :avatar  do
      KM
    %br
    = ui.nfg :typeface, caption: 'Manually set body via do block'
  .col
    = ui.nfg :avatar, body: 'KM', href: '#test'
    %br
    = ui.nfg :typeface, caption: 'Linked by adding :href to options'
  .col
    = ui.nfg :avatar, body: 'KM', href: '#test', tooltip: 'Test Tooltip'
    %br
    = ui.nfg :typeface, caption: 'Tooltipped and linked'
  .col
    = ui.nfg :avatar, image: 'https://i.pravatar.cc/300'
    %br
    = ui.nfg :typeface, caption: 'No options'
  .col
    = ui.nfg :avatar, image: 'https://i.pravatar.cc/300', href: '#test'
    %br
    = ui.nfg :typeface, caption: 'Linked by adding :href to options'
  .col
    = ui.nfg :avatar, image: 'https://i.pravatar.cc/300', href: '#test', tooltip: 'Test Tooltip'
    %br
    = ui.nfg :typeface, caption: 'Tooltipped and linked'

%hr
= ui.nfg :typeface, subheading: 'Small avatars, set using :sm trait', class: 'mb-1'
.row
  .col
    = ui.nfg :avatar, :sm, body: 'KM'
    %br
    = ui.nfg :typeface, caption: 'No options'
  .col
    = ui.nfg :avatar, :sm do
      KM
    %br
    = ui.nfg :typeface, caption: 'Manually set body via do block'
  .col
    = ui.nfg :avatar, :sm, body: 'KM', href: '#test'
    %br
    = ui.nfg :typeface, caption: 'Linked by adding :href to options'
  .col
    = ui.nfg :avatar, :sm, body: 'KM', href: '#test', tooltip: 'Test Tooltip'
    %br
    = ui.nfg :typeface, caption: 'Tooltipped and linked'
  .col
    = ui.nfg :avatar, :sm, image: 'https://i.pravatar.cc/300'
    %br
    = ui.nfg :typeface, caption: 'No options'
  .col
    = ui.nfg :avatar, :sm, image: 'https://i.pravatar.cc/300', href: '#test'
    %br
    = ui.nfg :typeface, caption: 'Linked by adding :href to options'
  .col
    = ui.nfg :avatar, :sm, image: 'https://i.pravatar.cc/300', href: '#test', tooltip: 'Test Tooltip'
    %br
    = ui.nfg :typeface, caption: 'Tooltipped and linked'

%hr
= ui.nfg :typeface, subheading: 'Medium avatars, set using :md trait', class: 'mb-1'
.row
  .col
    = ui.nfg :avatar, :md, body: 'KM'
    %br
    = ui.nfg :typeface, caption: 'No options'
  .col
    = ui.nfg :avatar, :md do
      KM
    %br
    = ui.nfg :typeface, caption: 'Manually set body via do block'
  .col
    = ui.nfg :avatar, :md, body: 'KM', href: '#test'
    %br
    = ui.nfg :typeface, caption: 'Linked by adding :href to options'
  .col
    = ui.nfg :avatar, :md, body: 'KM', href: '#test', tooltip: 'Test Tooltip'
    %br
    = ui.nfg :typeface, caption: 'Tooltipped and linked'
  .col
    = ui.nfg :avatar, :md, image: 'https://i.pravatar.cc/300'
    %br
    = ui.nfg :typeface, caption: 'No options'
  .col
    = ui.nfg :avatar, :md, image: 'https://i.pravatar.cc/300', href: '#test'
    %br
    = ui.nfg :typeface, caption: 'Linked by adding :href to options'
  .col
    = ui.nfg :avatar, :md, image: 'https://i.pravatar.cc/300', href: '#test', tooltip: 'Test Tooltip'
    %br
    = ui.nfg :typeface, caption: 'Tooltipped and linked'

%hr
= ui.nfg :typeface, subheading: 'Large avatars, set using :lg trait', class: 'mb-1'
.row
  .col
    = ui.nfg :avatar, :lg, body: 'KM'
    %br
    = ui.nfg :typeface, caption: 'No options'
  .col
    = ui.nfg :avatar, :lg do
      KM
    %br
    = ui.nfg :typeface, caption: 'Manually set body via do block'
  .col
    = ui.nfg :avatar, :lg, body: 'KM', href: '#test'
    %br
    = ui.nfg :typeface, caption: 'Linked by adding :href to options'
  .col
    = ui.nfg :avatar, :lg, body: 'KM', href: '#test', tooltip: 'Test Tooltip'
    %br
    = ui.nfg :typeface, caption: 'Tooltipped and linked'
  .col
    = ui.nfg :avatar, :lg, image: 'https://i.pravatar.cc/300'
    %br
    = ui.nfg :typeface, caption: 'No options'
  .col
    = ui.nfg :avatar, :lg, image: 'https://i.pravatar.cc/300', href: '#test'
    %br
    = ui.nfg :typeface, caption: 'Linked by adding :href to options'
  .col
    = ui.nfg :avatar, :lg, image: 'https://i.pravatar.cc/300', href: '#test', tooltip: 'Test Tooltip'
    %br
    = ui.nfg :typeface, caption: 'Tooltipped and linked'

%hr
= ui.nfg :typeface, subheading: 'X-Large avatars, set using :xl trait', class: 'mb-1'
.row
  .col
    = ui.nfg :avatar, :xl, body: 'KM'
    %br
    = ui.nfg :typeface, caption: 'No options'
  .col
    = ui.nfg :avatar, :xl do
      KM
    %br
    = ui.nfg :typeface, caption: 'Manually set body via do block'
  .col
    = ui.nfg :avatar, :xl, body: 'KM', href: '#test'
    %br
    = ui.nfg :typeface, caption: 'Linked by adding :href to options'
  .col
    = ui.nfg :avatar, :xl, body: 'KM', href: '#test', tooltip: 'Test Tooltip'
    %br
    = ui.nfg :typeface, caption: 'Tooltipped and linked'
  .col
    = ui.nfg :avatar, :xl, image: 'https://i.pravatar.cc/300'
    %br
    = ui.nfg :typeface, caption: 'No options'
  .col
    = ui.nfg :avatar, :xl, image: 'https://i.pravatar.cc/300', href: '#test'
    %br
    = ui.nfg :typeface, caption: 'Linked by adding :href to options'
  .col
    = ui.nfg :avatar, :xl, image: 'https://i.pravatar.cc/300', href: '#test', tooltip: 'Test Tooltip'
    %br
    = ui.nfg :typeface, caption: 'Tooltipped and linked'

