%h1 Alerts

%hr

%h2 Special traited alerts
%h3 Tip Alert
= ui.nfg :alert, :tip, body: 'This is a tip', heading: 'The tip heading'

/ %b== ui.nfg :alert, :error
/ %br
/ = ui.nfg :alert, :error

%hr

%h2 Alert with icons
= ui.nfg :alert, icon: 'rocket', body: 'A rocket! Alert with an icon', heading: 'A heading!'

%hr

= ui.nfg :alert, heading: "Oh Snap! There's a major problem here", class: 'my-4' do
  Yielded from captured block: You forgot to fill out an important field, notice my nifty
  = link_to 'link without class or classes', '#'
  and
  = link_to 'link with classes but not alert-link', '#', class: 'h6 small'
  = link_to 'link with classes and alert-link', '#', class: 'test-class alert-link'
  = link_to 'link with only alert-link class', '#', class: 'alert-link'

= ui.nfg :alert, body: 'Passed in as a local and skipped the heading: This is a crazy cool alert!', theme: :primary, dismissible: true, class: 'my-4' 

= ui.nfg :alert, :dismissible, body: 'Passed in as a local and skipped the heading: This is a crazy cool alert!', theme: :dark, class: 'my-4' 

= ui.nfg :alert, heading: "Oh snap! there's a major problem here", body: 'Passed in as a local: This is a crazy cool alert!', theme: :secondary, class: 'my-4' 

= ui.nfg :alert, heading: "Oh snap! there's a major problem here", body: 'Passed in as a local: This is a crazy cool alert!', theme: :success, class: 'my-4' 

= ui.nfg :alert, heading: "Oh snap! there's a major problem here", body: 'Passed in as a local: This is a crazy cool alert!', theme: :danger, class: 'my-4' 

= ui.nfg :alert, heading: "Oh snap! there's a major problem here", body: 'Passed in as a local: This is a crazy cool alert!', theme: :warning, class: 'my-4' 

= ui.nfg :alert, heading: "Oh snap! there's a major problem here", body: 'Passed in as a local: This is a crazy cool alert!', theme: :info, class: 'my-4' 

= ui.nfg :alert, heading: "Oh snap! there's a major problem here", body: 'Passed in as a local: This is a crazy cool alert!', theme: :light, class: 'my-4' 

= ui.nfg :alert, heading: "Oh snap! there's a major problem here", body: 'Passed in as a local: This is a crazy cool alert!', theme: :dark, class: 'my-4' 

%h2 Alerts via :traits
= ui.nfg :alert, :primary, body: 'Primary alert with trait', class: 'my-4' 
= ui.nfg :alert, :secondary, body: 'Secondary alert with trait', class: 'my-4'
= ui.nfg :alert, :success, body: 'Success alert with trait', class: 'my-4'
= ui.nfg :alert, :danger, body: 'Danger alert with trait', class: 'my-4'
= ui.nfg :alert, :warning, body: 'Warning alert with trait', class: 'my-4'
= ui.nfg :alert, :info, body: 'Info alert with trait', class: 'my-4'
= ui.nfg :alert, :light, body: 'Light alert with trait', class: 'my-4'
= ui.nfg :alert, :dark, body: 'Dark alert with trait', class: 'my-4'
