= content_tag nav_item.as, nav_item.html_options do
  - if nav_item.include_nav_link?
    = ui.nfg :nav_link, body: (nav_item.button ? nav_item.button : nav_item.body), active: nav_item.active, disabled: nav_item.disabled, dropdown: nav_item.dropdown, tab: nav_item.tab, remote: nav_item.remote, href: (nav_item.tab || nav_item.href), icon: nav_item.icon
    - if nav_item.dropdown
      = nav_item.body
  - else
    - if nav_item.icon
      = ui.nfg :icon, nav_item.icon, text: nav_item.body
    - else
      = nav_item.body
