%h1 Button Groups

%h2 Pre-configured, design system buttons

%hr

%h2 Manually Created Button Groups

%h3 Patterns

%h4 Button Group Themes
= ui.bootstrap :button_group, class: 'example-class' do
  = ui.bootstrap :button, as: :button, theme: :primary, body: 'Button'
  = ui.bootstrap :button, as: :button, theme: :primary do
    Button
  = ui.bootstrap :button, as: :button, theme: :primary do
    Button

%br

= ui.bootstrap :button_group, class: 'example-class' do
  = ui.bootstrap :button, as: :button, theme: :secondary, body: 'Button'
  = ui.bootstrap :button, as: :button, theme: :secondary do
    Button
  = ui.bootstrap :button, as: :button, theme: :secondary do
    Button

%br

= ui.bootstrap :button_group, class: 'example-class' do
  = ui.bootstrap :button, as: :button, theme: :success, body: 'Button'
  = ui.bootstrap :button, as: :button, theme: :success do
    Button
  = ui.bootstrap :button, as: :button, theme: :success do
    Button

%br

= ui.bootstrap :button_group, class: 'example-class' do
  = ui.bootstrap :button, as: :button, theme: :danger, body: 'Button'
  = ui.bootstrap :button, as: :button, theme: :danger do
    Button
  = ui.bootstrap :button, as: :button, theme: :danger do
    Button

%br

= ui.bootstrap :button_group, class: 'example-class' do
  = ui.bootstrap :button, as: :button, theme: :warning, body: 'Button'
  = ui.bootstrap :button, as: :button, theme: :warning do
    Button
  = ui.bootstrap :button, as: :button, theme: :warning do
    Button

%br

= ui.bootstrap :button_group, class: 'example-class' do
  = ui.bootstrap :button, as: :button, theme: :info, body: 'Button'
  = ui.bootstrap :button, as: :button, theme: :info do
    Button
  = ui.bootstrap :button, as: :button, theme: :info do
    Button

%br

= ui.bootstrap :button_group, class: 'example-class' do
  = ui.bootstrap :button, as: :button, theme: :light, body: 'Button'
  = ui.bootstrap :button, as: :button, theme: :light do
    Button
  = ui.bootstrap :button, as: :button, theme: :light do
    Button

%br

= ui.bootstrap :button_group, class: 'example-class' do
  = ui.bootstrap :button, as: :button, theme: :dark, body: 'Button'
  = ui.bootstrap :button, as: :button, theme: :dark do
    Button
  = ui.bootstrap :button, as: :button, theme: :dark do
    Button


%hr

%h4 Button Groups with links
= ui.bootstrap :button_group, class: 'example-class' do
  / = ui.bootstrap :button, href: '#testURL', body: 'Link Btn W/O :as'
  = ui.bootstrap :button, as: :link, active: true, href: '#testURL' do
    Active Button
  = ui.bootstrap :button, as: :link do
    Link Button without HREF

%hr

%h4 Button groups with buttons
= ui.bootstrap :button_group, role: 'not a good one' do
  = ui.bootstrap :button, as: :button, body: 'Button'
  = ui.bootstrap :button, as: :button do
    Button
  = ui.bootstrap :button, as: :button do
    Button

%hr

%h3 Sizing

= ui.bootstrap :button_group, size: :lg, aria: { 'test' => 'test2' } do
  = ui.bootstrap :button, as: :button, body: 'Left'
  = ui.bootstrap :button, as: :button do
    Middle
  = ui.bootstrap :button, as: :button do
    Right

= ui.bootstrap :button_group, aria: { 'test' => 'test2' } do
  = ui.bootstrap :button, as: :button, body: 'Left'
  = ui.bootstrap :button, as: :button do
    Middle
  = ui.bootstrap :button, as: :button do
    Right

= ui.bootstrap :button_group, size: :sm, aria: { 'test' => 'test2' } do
  = ui.bootstrap :button, as: :button, body: 'Left'
  = ui.bootstrap :button, as: :button do
    Middle
  = ui.bootstrap :button, as: :button do
    Right

%hr

%h4 Nesting Button Groups

%h5 Nesting Sizes
= ui.bootstrap :button_group, size: :lg, aria: { 'test' => 'test2' } do
  = ui.bootstrap :button, as: :button, body: 'Large Left'
  = ui.bootstrap :button, as: :button do
    Large Middle
  = ui.bootstrap :button, as: :button do
    Large Right

  = ui.bootstrap :button_group, size: :sm, aria: { 'test' => 'test2' } do
    = ui.bootstrap :button, as: :button, body: 'Small Left'
    = ui.bootstrap :button, as: :button do
      Small Middle
    = ui.bootstrap :button, as: :button do
      Small Right

%hr

%h3 Vertical variation
%h4 Button groups with buttons
= ui.bootstrap :button_group, vertical: true, aria: { 'test' => 'test2' } do
  = ui.bootstrap :button, as: :button, body: 'Button'
  = ui.bootstrap :button, as: :button do
    Button
  = ui.bootstrap :button, as: :button do
    Button
